<meta charset="UTF-8">
<style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');
    style {
        display: none !important;
    }
    ._customer-category__wrap {
        font-family: Roboto, Arial, sans-serif;
        max-width: 627px;
        min-height: 270px;
        color: #000000;
        font-size: 14px;
        line-height: 16px;
        box-sizing: border-box;
        font-weight: 400;
        background: url("img/block_category/adv-bg.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        padding-bottom: 30px;
        border-bottom: 2px solid #eee;
        margin: 30px auto 0;
    }
    ._customer-category__ttl {
        color: #333333;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 25px;
        font-weight: 700;
        text-transform: uppercase;
    }
    ._customer-category__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 20px;
    }
    ._customer-category__item {
        display: flex !important;
        margin-bottom: 20px;
        width: 48%;
    }
    ._customer-category__item img {
        min-width: 48px!important;
        max-height: 48px!important;
    }
    ._customer-category__txt {
        display: grid;
        align-content: center;
        margin-left: 20px;
        font-weight: normal;
    }
    ._customer-category__service {
        display: block !important;
        font-size: 18px;
        text-align: center;
        line-height: 21px;
        margin-top: 10px;
    }
    ._customer-category__contact {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 15px;
        text-align: center;
    }
    ._customer-category__phone a {
        font-size: 24px;
        line-height: 28px;
        color: #000000 !important;
        text-decoration: none;
    }
    ._customer-category__phone a:hover {
        text-decoration: underline;
    }
    ._customer-category__button {
        font-family: Arial, sans-serif;
        font-size: 13px;
        text-transform: uppercase;
        background: #46A83B;
        border-radius: 3px;
        width: 160px;
        height: 40px;
        line-height: 40px;
        color: #ffffff;
        margin: 14px auto;
        cursor: pointer;
        text-align: center;
    }
    ._customer-category__button:hover {
        opacity: 0.8;
    }
    ._customer-category_db {
        max-width: 627px;
        display: flex !important;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        background: #fff;
        padding: 0 65px 25px 65px;
        font: normal 16px/1.4 Roboto, Arial, sans-serif !important;
        box-sizing: border-box;
        border-bottom: 2px solid #eee;
        margin: 30px auto;
    }
    ._customer-category_db__cnt {
        display: block !important;
        margin: 0 !important;
        color: #333333;
    }
    ._customer-category_db__cnt span {
        font-weight: 700;
    }
    ._customer-category_db__btn {
        display: inline-flex !important;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
        background: #46A83B;
        border-radius: 3px;
        max-width: 300px;
        box-sizing: border-box;
        padding: 12px 0 13px;
        text-decoration: none !important;
        width: 300px;
        max-width: 300px;
    }
    ._customer-category_db__btn:hover {
        opacity: 0.85;
    }
    ._customer-category_db__btn-img {
        margin-right: 20px;
    }
    ._customer-category_db__btn-cnt {
        font-size: 16px !important;
        color: #ffffff;
        font-weight: 700;
    }

    @media (max-width: 1100px) {
        ._customer-category__list {
            display: block;
            padding-bottom: 10px;
        }
        ._customer-category__item {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    @media (max-width: 620px) {
        ._customer-category_db {
            display: block !important;
            text-align: center;
            padding: 50px 0 50px 0;
        }
        ._customer-category_db__btn {
            margin-top: 20px;
        }
    }
    @media (max-width: 420px) {
        ._customer-category__contact {
            display: block;
        }
        ._customer-category__phone {
            margin-top: 30px;
        }
        ._customer-category__callback {
            margin-top: 30px;
        }
    }
</style>
<div class="_customer-category_db">
    <p class="_customer-category_db__cnt">Скачать прайс-лист</p>
    <a onclick="yaCounter46208565.reachGoal('megasite_comblock_download'); return true;" class="_customer-category_db__btn"
       href="https://st21.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/021/954/МК-Урал.xlsx?1551876521">
        <img class="_customer-category_db__btn-img" src="img/block_category/download.png" />
        <span class="_customer-category_db__btn-cnt">Цветной_металлопрокат.xlsx</span>
    </a>
</div>
<div class="_customer-category__wrap">
    <div class="_customer-category__ttl">
        Наш сервис
    </div>
    <div class="_customer-category__list">
        <div class="_customer-category__item">
            <img src="img/block_category/saw.png">
            <div class="_customer-category__txt"><span>Резка в размер</span></div>
        </div>

        <div class="_customer-category__item">
            <img src="img/block_category/credit-card.png">
            <div class="_customer-category__txt"><span>Отсрочка для постоянных клиентов</span></div>
        </div>

        <div class="_customer-category__item">
            <img src="img/block_category/box.png">
            <div class="_customer-category__txt"><span>Любой объем</span></div>
        </div>

        <div class="_customer-category__item">
            <img src="img/block_category/loss.png">
            <div class="_customer-category__txt"><span>Низкие цены по рынку</span></div>
        </div>

        <div class="_customer-category__item">
            <img src="img/block_category/analytics.png">
            <div class="_customer-category__txt"><span>Любые сплавы под заказ</span></div>
        </div>

        <div class="_customer-category__item">
            <img src="img/block_category/truck.png">
            <div class="_customer-category__txt"><span>Бесплатная доставка по Екатеринбургу день-в-день</span></div>
        </div>
    </div>
    <div class="_customer-category__service">
        Задайте вопрос нашему менеджеру
    </div>
    <div class="_customer-category__contact">
        <div class="_customer-category__phone">
            <a href="tel:+73432681831" onclick="yaCounter46650732.reachGoal('megasite_comblock_tel'); return true;">+7 (343) 268-18-31</a>
        </div>
        <div class="_customer-category__callback">
            <div class="js-apress-order-button js-get-order-form _customer-category__button"
                 data-company-id="126178" data-company-name="МК-Урал" data-company-name-rest="ООО"
                 data-company-url="http://www.metall-kontur.ru" data-ga-id="CK-1193-1"
                 data-params="{&quot;company_id&quot;:126178}" data-statistics="1" data-type="message"
                 onclick="yaCounter46208565.reachGoal('megasite_comblock_order'); return true;">
                Задать вопрос
            </div>
        </div>
    </div>
</div>